extends layout

block content
  h1(class='Titulo') Local Library
  p(class='text-muted') Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.




  if error
    p Error getting dynamic content.
  else
    p(class='text-muted') Record counts:

  div(class='container-fluid')
    div(class='row')
      div(class='col-md-4 col-sm-6')
        div(class='card-deck')
          div(class='card') 
            div(class='card-body' style='background-color: #38ada9')
              i(class='fas fa-book fa-3x' style='color: #fff')
            div(class='card-footer')
              div(class='row row-cols-2' style='font-weight: bold')
                div(class='col-md-6 border-right text-center') Books
                div(class='col-md-6 border-left text-center') !{data.book_count} +

      div(class='col-md-4 col-sm-6')
        div(class='card-deck')
          div(class='card')
            div(class='card-body' style='background-color: #6a89cc')
              i(class='far fa-copy fa-3x' style='color: #fff')
            div(class='card-footer')
              div(class='row row-cols-2' style='font-weight: bold')
                div(class='col-md-6 border-right text-center') Copies
                div(class='col-md-6 border-left text-center') !{data.book_instance_count} +

      div(class='col-md-4 col-sm-6')
        div(class='card-deck')
          div(class='card')
            div(class='card-body' style='background-color: #ff6b6b')
              i(class='fas fa-copy fa-3x' style='color: #fff')
            div(class='card-footer')
              div(class='row row-cols-2' style='font-weight: bold')
                div(class='col-md-6 border-right text-center') Copies Available
                div(class='col-md-6 border-left text-center') !{data.book_instance_available_count} +

      div(class='col-md-4 col-sm-6')
        div(class='card-deck')
          div(class='card')
            div(class='card-body' style='background-color: #78e08f')
              i(class='fas fa-user-tie fa-3x' style='color: #fff')
            div(class='card-footer')
              div(class='row row-cols-2' style='font-weight: bold')
                div(class='col-md-6 border-right text-center') Authors
                div(class='col-md-6 border-left text-center') !{data.author_count} +

      div(class='col-md-4 col-sm-6')
        div(class='card-deck')
          div(class='card')
            div(class='card-body' style='background-color: #845ef7')
              i(class='fas fa-pen-nib fa-3x' style='color: #fff')
            div(class='card-footer')
              div(class='row row-cols-2' style='font-weight: bold')
                div(class='col-md-6 border-right text-center') Genres
                div(class='col-md-6 border-left text-center') !{data.genre_count} +

           
   
    




    
